/* basic elements */
html {
  margin: 0;
  padding: 0;
}
body {
  font: 75% georgia, sans-serif;
  line-height: 1.88889;
  color: white;
  margin: 0;
  padding: 0;

  background-image: url(./img/background.jpg);
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}

p {
  margin: 0;
}

h2,
h1 {
  margin: 0;
}

a:link {
  font-weight: bold;
  text-decoration: none;
  color: #b7a5df;
}
a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #d4cddc;
}
a:hover,
a:focus,
a:active {
  text-decoration: underline;
  color: #9685ba;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
